a.my_btn {
    float: right; 
    text-decoration: none; 
    color: black; 
    border: 2px solid grey; 
    border-radius: 5px;
    background-color: lightgray;
    padding: 7px; 
    margin-top: -20px;
}

.error {
    color: red;
}

